In [1]:
import tensorflow as tf

C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
import pandas as pd
import numpy as np

In [3]:
white = pd.read_csv('dataset/winequality_white.csv')
white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [4]:
red = pd.read_csv('dataset/winequality_red.csv')
red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [6]:
red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [7]:
pd.isnull(red).count()

fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
dtype: int64

In [8]:
pd.isnull(white).count()

fixed acidity           4898
volatile acidity        4898
citric acid             4898
residual sugar          4898
chlorides               4898
free sulfur dioxide     4898
total sulfur dioxide    4898
density                 4898
pH                      4898
sulphates               4898
alcohol                 4898
quality                 4898
dtype: int64

In [9]:
red['type'] = 1
white['type'] = 0

In [10]:
wines = red.append(white,ignore_index=True)
wines.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [11]:
# import seaborn as sns  
# sns.pairplot(wines,diag_kind = 'kde', hue='type')

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = wines.iloc[:,0:11]
y = np.ravel(wines.type)

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.3 ,random_state=42 )

In [14]:
y_test[0:10]

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
X_train

array([[ 2.09749415e+00,  9.44541345e-01, -6.19125220e-01, ...,
        -2.78980003e+00, -6.07582024e-01, -9.09141702e-01],
       [ 3.88772797e-01, -3.53027559e-01,  2.06940277e-01, ...,
         3.30043338e-01, -1.99847169e-01, -7.41998353e-01],
       [ 3.41786974e+00,  8.51857852e-01,  5.51134235e-01, ...,
        -9.17894009e-01,  8.19489967e-01, -3.79854432e-01],
       ...,
       [-6.20926184e-01,  2.03073400e-01, -8.25641595e-01, ...,
         1.42852736e-01, -6.75537833e-01, -8.25570027e-01],
       [-5.43257032e-01, -4.76605550e-01,  1.23952215e+00, ...,
        -2.31528468e-01, -4.03714597e-01, -8.25570027e-01],
       [ 4.27035147e-04,  1.74779829e+00, -1.78938468e+00, ...,
         1.82756815e+00,  7.19760670e-02, -8.25570027e-01]])

In [17]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [18]:
from tensorflow.keras import activations

In [25]:
model = Sequential()

model.add(Dense(30,activation='relu',input_shape=(11,)))
model.add(Dense(20,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [26]:
model.compile(loss = 'binary_crossentropy',optimizer='adam',metrics=['accuracy'])

epochs = 40
batch_size = 50017

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 30)                360
_________________________________________________________________
dense_4 (Dense)              (None, 20)                620
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 21
=================================================================
Total params: 1,001
Trainable params: 1,001
Non-trainable params: 0
_________________________________________________________________

In [28]:
gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.7)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

In [29]:

history = model.fit(X_train,y_train , batch_size = batch_size,epochs=epochs,validation_split=0.3,verbose=True)

Train on 3182 samples, validate on 1365 samples
Epoch 1/40
3182/3182 [==============================] - 0s 69us/sample - loss: 0.5932 - acc: 0.7395 - val_loss: 0.5566 - val_acc: 0.7758
Epoch 2/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5814 - acc: 0.7417 - val_loss: 0.5453 - val_acc: 0.7788
Epoch 3/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5699 - acc: 0.7429 - val_loss: 0.5344 - val_acc: 0.7788
Epoch 4/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5587 - acc: 0.7429 - val_loss: 0.5236 - val_acc: 0.7810
Epoch 5/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5477 - acc: 0.7461 - val_loss: 0.5131 - val_acc: 0.7824
Epoch 6/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5370 - acc: 0.7473 - val_loss: 0.5030 - val_acc: 0.7839
Epoch 7/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5266 - acc: 0.7473 - val_loss: 0.4930 - val_acc: 0.7846
Epoch 8/40
3182/3182 [==============================] - 0s 4us/sample - loss: 0.5164 - acc: 0.7476 - val_loss: 0.4833 - val_acc: 0.7875
Epoch 9/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.5065 - acc: 0.7492 - val_loss: 0.4738 - val_acc: 0.7897
Epoch 10/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4968 - acc: 0.7492 - val_loss: 0.4646 - val_acc: 0.7905
Epoch 11/40
3182/3182 [==============================] - 0s 5us/sample - loss: 0.4874 - acc: 0.7502 - val_loss: 0.4556 - val_acc: 0.7912
Epoch 12/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4782 - acc: 0.7505 - val_loss: 0.4468 - val_acc: 0.7919
Epoch 13/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4693 - acc: 0.7517 - val_loss: 0.4382 - val_acc: 0.7934
Epoch 14/40
3182/3182 [==============================] - 0s 4us/sample - loss: 0.4606 - acc: 0.7549 - val_loss: 0.4298 - val_acc: 0.7934
Epoch 15/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4520 - acc: 0.7564 - val_loss: 0.4217 - val_acc: 0.7971
Epoch 16/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4437 - acc: 0.7586 - val_loss: 0.4137 - val_acc: 0.8000
Epoch 17/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4355 - acc: 0.7618 - val_loss: 0.4059 - val_acc: 0.8044
Epoch 18/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4275 - acc: 0.7634 - val_loss: 0.3982 - val_acc: 0.8081
Epoch 19/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4197 - acc: 0.7659 - val_loss: 0.3907 - val_acc: 0.8095
Epoch 20/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4120 - acc: 0.7681 - val_loss: 0.3834 - val_acc: 0.8110
Epoch 21/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.4045 - acc: 0.7709 - val_loss: 0.3762 - val_acc: 0.8139
Epoch 22/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3971 - acc: 0.7766 - val_loss: 0.3692 - val_acc: 0.8154
Epoch 23/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3898 - acc: 0.7803 - val_loss: 0.3623 - val_acc: 0.8205
Epoch 24/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3826 - acc: 0.7854 - val_loss: 0.3555 - val_acc: 0.8242
Epoch 25/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3756 - acc: 0.7932 - val_loss: 0.3488 - val_acc: 0.8278
Epoch 26/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3686 - acc: 0.7970 - val_loss: 0.3423 - val_acc: 0.8300
Epoch 27/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3618 - acc: 0.8014 - val_loss: 0.3358 - val_acc: 0.8374
Epoch 28/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3551 - acc: 0.8074 - val_loss: 0.3295 - val_acc: 0.8454
Epoch 29/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3484 - acc: 0.8149 - val_loss: 0.3232 - val_acc: 0.8520
Epoch 30/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3419 - acc: 0.8224 - val_loss: 0.3171 - val_acc: 0.8564
Epoch 31/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3354 - acc: 0.8275 - val_loss: 0.3110 - val_acc: 0.8608
Epoch 32/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3291 - acc: 0.8331 - val_loss: 0.3050 - val_acc: 0.8637
Epoch 33/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3228 - acc: 0.8419 - val_loss: 0.2991 - val_acc: 0.8674
Epoch 34/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3166 - acc: 0.8473 - val_loss: 0.2933 - val_acc: 0.8740
Epoch 35/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.3105 - acc: 0.8558 - val_loss: 0.2876 - val_acc: 0.8777
Epoch 36/40
3182/3182 [==============================] - 0s 4us/sample - loss: 0.3044 - acc: 0.8646 - val_loss: 0.2820 - val_acc: 0.8850
Epoch 37/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.2985 - acc: 0.8705 - val_loss: 0.2764 - val_acc: 0.8960
Epoch 38/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.2926 - acc: 0.8809 - val_loss: 0.2709 - val_acc: 0.9048
Epoch 39/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.2868 - acc: 0.8884 - val_loss: 0.2655 - val_acc: 0.9143
Epoch 40/40
3182/3182 [==============================] - 0s 3us/sample - loss: 0.2810 - acc: 0.8972 - val_loss: 0.2602 - val_acc: 0.9223

In [30]:
loss , acc = model.evaluate(X_test,y_test,verbose=0)
print("Test Accuracy : %.3f" %acc)

loss , acc = model.evaluate(X_train,y_train,verbose=0)
print("Train Accuracy : %.3f" %acc)

Test Accuracy : 0.905
Train Accuracy : 0.912